/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

.button {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    gap: 10px;
}

.button button {
    padding: 10px 20px;
    border: 2px solid #004D40;
    border-radius: 20px;
    background-color: transparent;
    color: #004D40;
    font-family: 'Syne', sans-serif;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.button button.active,
.button button:hover {
    background-color: #004D40;
    color: #ffffff;
}

.button button:focus {
    outline: none;
}

.login-wrapper {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 60vh;
	margin-top: 150px;
}

.form-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.login-input-wrapper {
	display: flex;
	justify-content: center;
	align-items: start;
	flex-direction: column;
	margin-bottom: 15px;
}

.login-title {
	width: 100px;
	height: 36px;
	font-family: 'Syne';
	font-size: 30px;
	font-weight: 700;
	line-height: 36px;
	text-align: center;
	margin-bottom: 20px;
}

.login-input-text {
	font-family: 'Work Sans';
	font-size: 14px;
	font-weight: 500;
	line-height: 16.42px;
	height: 16px;
	color: #3D3D3D;
	margin-bottom: 5px;
}

.login-input {
	width: 379px;
	height: 51px;
	background: #FFFFFF;
	box-shadow: 0px 4px 14px 0px #00000017;
	border: none;
}

.login-btn {
	width: 379px;
	height: 51px;
	color: white;
	box-shadow: 0px 4px 14px 0px #00000017;
}

.login-forgot-password {
	font-family: 'Work Sans';
	font-size: 14px;
	font-weight: 500;
	line-height: 16.42px;
	color: #3D3D3D;
	border-bottom: 1px;
	border-color: #3D3D3D;
}

/* Style pour la modale */
.modal {
    display: none; /* Masqué par défaut */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-title {
	font-family: 'Work Sans';
	font-size: 26px;
	font-weight: 400;
	line-height: 30.5px;
	text-align: center;
	margin-top: 35px;
	margin-bottom: 35px;

}

.modal-content {
    position: relative;
	justify-content: center;
	align-items: center;
    margin: 10% auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    width: 50%;
    max-width: 600px;
	min-width: 300px;
    text-align: center;
}

.gallery-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.close {
    position: absolute;
    top: 20px; /* Ajuste l'espacement par rapport au haut de la modale */
    right: 20px; /* Ajuste l'espacement par rapport au bord droit de la modale */
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
}

.modal-gallery {
	width: 80%;
    display: flex;
	justify-content: flex-start;
	align-items: center;
    flex-wrap: wrap;
    gap: 25px 22px;
}

.modal-gallery-img {
	width: 76.86px;
	height: 102.57px;
    object-fit: cover;
}

.img-container {
    position: relative;
    display: inline-block;
}

.delete-button {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 14px;
    height: 14px;
    cursor: pointer;
}

.delete-button:hover {
    opacity: 0.7;
}

.top-bar {
	display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-family: 'Syne', sans-serif;
    font-size: 16px;
    z-index: 1000;
}